rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Global Safety Net Catch-All to deny all other paths
    match /{document=**} {
      allow read, write: if false;
    }
    
    // Settings configuration
    match /config/settings {
      allow read: if true;
      allow write: if request.auth != null 
        && request.auth.token.email == 'lapreferidarestaurante2025@gmail.com' 
        && request.auth.token.email_verified == true;
    }
    
    // Digital Menu configuration
    match /config/menu {
      allow read: if true;
      allow write: if request.auth != null 
        && request.auth.token.email == 'lapreferidarestaurante2025@gmail.com' 
        && request.auth.token.email_verified == true;
    }
    
    // Coupons configurations
    match /config/coupons {
      allow read: if true;
      allow write: if request.auth != null 
        && request.auth.token.email == 'lapreferidarestaurante2025@gmail.com' 
        && request.auth.token.email_verified == true;
    }
  }
}
